.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    width: 100%;
}

.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.input-box input {
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
}

.input-box label {
    font-size: 20px;
    font-weight: 700;
}

.submit-button {
    background-color: rgba(163, 163, 245, 0.845);
    height: 40px;
    width: 80px;
    border: none;
    color: white;
}

.submit-button:hover {
    background-color: rgba(119, 119, 179, 0.845);
    cursor: pointer;
}


.open-button {
    background-color: rgba(163, 163, 245, 0.845);
    height: 40px;
    width: 120px;
    border: none;
    color: white;
}

.open-button:hover {
    background-color: rgba(119, 119, 179, 0.845);
    cursor: pointer;
}